<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>This Week's 'Meal Plan</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }
    div {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
    }
    div a {
      padding-left: 0.5em;
    }
  </style>
</head>
<body>
  <h1>Meal Plan</h1>
    <button>Generate</button>
  {{#each mealPlan as |meal|}}
  <div>
    {{!-- <img src="/images/{{meal.name}}_sm.jpg" alt="{{meal.name}}"> --}}
    <a href="/{{meal.name}}">{{meal.name}}</a>
  </div>
  {{/each}}
</body>
</html>